#html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#gameWindow {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}

#floor{
     width: 100%;
     display: inline-block;
     height: 20%;
     background-color: black;
     position: absolute;
     bottom: 0;
     background-image: url('/alexthekidboss/assets/rock.png');
     background-size: 64px;
}

#playercontainer {
    height: 80%;
    width: 100%;
    background-color: blue;
    display: inline-block;
    position:absolute;

}

#player {
    display: block;
    position: absolute;
    width: 150px;
    height: 300px;
    background-color: green;
    bottom: 0;
}